<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/content.css" id="theme-link">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Content page</title>
</head>

<body>
    <div class="page">
        <header class="header">
            <div class="header__inner">
                <div class="header__logo">
                    <img src="" alt="Logo">
                </div>
                <nav class="nav">
                    <div class="nav__link">
                        <a href="{{ logout_link }}" class="nav__logout">Log out</a>
                    </div>
                </nav>
            </div>
        </header>
        <div class="page__content">
            <div class="container">
                <div class="credits">
                    <div class="credits__inner">
                        <div class="credits__item">
                            <div class="credits__profile">
                                <div class="credits__photo">
                                    <img src="/static/assets/img/goslingberserk.jpg" class="credits__img" alt="">
                                </div>
                                <div class="credits__info">
                                    <div class="credits__name"><a href="https://github.com/rlynobody"
                                            target="_blank">rlynobody</a>
                                    </div>
                                    <div class="credits__email" id="credits__email" value="sadexitus@gmail.com">
                                        sadexitus@gmail.com</div>
                                </div>
                            </div>

                            <div class="credits__technologies">
                                <div class="credits__skills">
                                    <h3 class="credits__title">Technologies</h3>
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>JS</li>
                                    </ul>
                                </div>
                                <div class="credits__implemented">
                                    <h3 class="credits__title">Implemented</h3>
                                    <ul>
                                        <li>Client side validation function (JavaScript)</li>
                                        <li>Change theme function based on local storage (JavaScript/CSS)</li>
                                        <li>Custom checkbox (CSS)</li>
                                        <li>Custom inputs (CSS)</li>
                                        <li>Adaptive design based on @media and flex's (CSS)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="credits__item">
                            <div class="credits__profile">
                                <div class="credits__photo">
                                    <img src="/static/assets/img/almightychungus.jpg" class="credits__img" alt="">
                                </div>
                                <div class="credits__info">
                                    <div class="credits__name"><a href="https://github.com/peymone"
                                            target="_blank">peymone</a>
                                    </div>
                                    <div class="credits__email" id="credits__email2" value="witetrashd@gmail.com">
                                        witetrashd@gmail.com</div>
                                </div>
                            </div>

                            <div class="credits__technologies">
                                <div class="credits__skills">
                                    <h3 class="credits__title">Technologies</h3>
                                    <ul>
                                        <li>Using git and github for vs code</li>
                                        <li>Some html and css</li>
                                        <li>Most of Flask functions: blueprints, render_templates, request, etc.</li>
                                        <li>Werkzeug.security</li>
                                        <li>Jinja2</li>
                                        <li>SQLite3</li>
                                    </ul>
                                </div>
                                <div class="credits__implemented">
                                    <h3 class="credits__title">Implemented</h3>
                                    <ul>
                                        <li>Configuration setting for database and flask for easy hosting</li>
                                        <li>Setting up basic routing functionality</li>
                                        <li>Сreating templates for a modular project</li>
                                        <li>Creating registration functions - database creation, user storage, user
                                            verification. message, </li>
                                        <li>Creating authorization functions - comparing data in database with form,
                                            sessions setup</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__bg">
                <button class="theme-toggle" id="theme-toggle"></button>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../static/assets/js/change-theme.js"></script>
    <script type="text/javascript" src="../static/assets/js/copy.js"></script>
</body>

</html>